<div class="card mb-3">
    <div class="card-header">
        <h5 class="card-title mb-0">Участники события {{ event.title }} </h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Имя</th>
                    <th>Email</th>
                    <th>Оценка</th>
                </tr>
                </thead>
                <tbody>

                {% for enr in enrolls %}
                    <tr>
                        <th data-test="enroll_counter">{{ forloop.counter }}</th>
                        <td data-test="enroll_user">{{ enr.user.username }}</td>
                        <td data-test="enroll_email">{{ enr.user.email }}</td>

                        <td data-test="enroll_rate">{{ enr.review }}</td>

                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
