<div class="card mb-3">
    <div class="card-header">
        <h5 class="card-title mb-0">Отзывы на событие {{ event.title }} </h5>
    </div>

    {% for review in event.reviews.all %}

        <div class="card-body">
            <!-- Start Review item -->
            <h5 class="me-2" data-test="review_user">
                {{ review.user.username }}
                <span class="badge bg-warning" data-test="review_rate">
                                            {{ review.rate }}
                                        </span>
            </h5>
            <p class="my-3" data-test="review_text">{{ review.text }}</p>
            <p class="mb-4" data-test="review_created">{{ review.created|date:"d.m.Y" }}</p>
            <!-- End Review item -->
        </div>
    {% endfor %}

</div>

