{% extends "__base.html" %}
{% block title %}События{% endblock %}

<!-- Start MAIN_CONTAINER -->
{% block content %}

    <!-- Start CONTAINER_BAR -->
    <div class="container-fluid mt-3">
        <div class="row mb-4">
            <div class="col">
                <div class="card shadow">
                    <div class="card-body">
                        <form action="." method="get">
                            <div class="row row-cols-lg-auto g-3 align-items-start">
                                {% for field in filter_form %}

                                        {% if field.name != 'is_private' and field.name != 'is_available' %}
                                        <div class="col-12" style="display: grid; width: 23%">
                                            <label for="id_{{ field.name }}">{{ field.label }}</label>
                                            {{ field }}
                                        </div>

                                    {% elif field.name == 'is_private' or field.name == 'is_available' %}
                                        <div class="col-12 d-md-flex" style="display: flex; width: 13%; ">
                                            <label for="id_{{ field.name }}" style="margin-right: .5rem"
                                            >{{ field.label }}</label>
                                            {{ field }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="mt-3">
                                <button type="submit" class="btn btn-primary">Фильтровать</button>

                                <input class="btn btn-outline-danger" type="submit" value="Сбросить"
                                       name="Delete"/>
                            </div>


                        </form>

                        <p>Выбрано записей: {{ paginator.count }}</p>

                    </div>
                </div>

            </div>
        </div>

        {% include 'snippets/_pagination.html' %}


        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 g-4">
            {% for event in event_objects %}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5 class="card-title mb-0">{{ event.title }}</h5>
                            {% if event.is_private %}<span data-test="is_private" class="badge bg-dark">Private
                            </span>{% endif %}
                        </div>
                        <div class="card-body">
                            <h3>{{ event.enrolls.count|default:"0" }} из {{ event.participants_number }}</h3>
                            <p>участников</p>
                            <ul class="py-2">
                                {% for el in event.features.all %}
                                    <li>{{ el }}</li>
                                {% endfor %}
                            </ul>
                            <p class="text-black">
                                дата: <strong
                                    data-test="date_start">{{ event.date_start|date:"d.m.Y в H:i" }}</strong>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ event.get_absolute_url }}" class="btn btn-success">Смотреть</a>
                            <a href="{% url 'events:event_update' event.pk %}" class="btn btn-outline-primary"
                               title="Изменить">
                                <i class="bi bi-pencil-square"></i>Изменить
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
    <!-- End CONTAINER_BAR -->
{% endblock %}
<!-- End MAIN_CONTAINER -->

