{% extends "registration/reg_base.html" %}

{% block content %}

    <div class="site-login">

        {% if form.errors %}
            <p>Ваш логин-пароль не найден. Пожалуйста, попробуйте еще раз.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>Этот логин не зарегистрирован. Пожалуйста,
                    введите правильный логин-пароль.</p>
            {% else %}
                <p>Пожалуйста, введите логин и пароль.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>

                <tr>
                    <td><label>Имя пользователя:</label>{{ form.username }}</td>
                </tr>

                <tr>
                    <td><label>Пароль:</label>{{ form.password }}</td>
                </tr>
            </table>

            <input type="submit" value="Ввести"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>


    </div>
{% endblock %}
