{#START CTA#}
<div class="section-bg-2 padding-top-60px padding-bottom-60px">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <p class="text-white-50 pb-1">Не пропусти самое интересное</p>
                <h2 class="text-white">Горячие предложения в твоем почтовом ящике</h2>
            </div>
            <div class="col-lg-5">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label text-white">Email:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                    </div>
                    <button type="submit" class="btn btn-primary">Подписаться</button>
                </form>
            </div>
        </div>
    </div>
</div>
{#END CTA#}
