<!-- Start EVENT_MENU -->
<div class="col-lg-5 col-xl-3">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Событие</h5>
        </div>
        <div class="card-body">
            <div class="nav flex-column nav-pills"
                 id="v-pills-tab" role="tablist"
                 aria-orientation="vertical">
                <a class="nav-link mb-2 "
                        {% if event %} href={{ event.get_update_url }}
                           {% else %} href="{% url 'events:create_event' %}"
                        {% endif %}
                >
                    <i class="bi bi-pencil-square"></i>Редактировать
                </a>
                <a class="nav-link mb-2"
                        {% if event %} href="{% url 'events:event_participants' event.pk %}"
                        {% else %} href="#"
                        {% endif %}
                >
                    <i class="bi bi-people-fill"></i>Участники
                </a>
                <a class="nav-link mb-2"
                        {% if event %} href="{% url 'events:event_reviews' event.pk %}"
                        {% else %} href="#"
                        {% endif %}
                >
                    <i class="bi bi-chat-left-dots"></i>Отзывы
                </a>
                <a class="nav-link"
                        {% if event %} href={{ event.get_delete_url }}
                           {% else %} href="#"
                        {% endif %}
                >
                    <i class="bi bi-exclamation-triangle-fill"></i>Danger zone
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    {#  для добавления класса 'active' к выбранному пункту меню #}

    function ready() {
        try {
            var el = document.getElementById('v-pills-tab').getElementsByTagName('a');
            var url = document.location.href;
            for (var i = 0; i < el.length; i++) {
                if (url == el[i].href) {
                    el[i].className += ' active';
                }
            }
        } catch (e) {
        }
    }

    document.addEventListener("DOMContentLoaded", ready)
</script>
<!-- End EVENT_MENU -->