{#START HEADER#}
{% load static %}
<!-- Start LEFT_MENU -->
<div class="leftbar">
    <div class="logobar">
        <a href="{% url 'main:index' %}" class="logo logo-large">
            <img src="{% static 'images/svg-icon/logo.svg' %}" alt="logo" style="height: 40px">
        </a>
    </div>
    <ul class="vertical-menu" id="vertical-menu">
        <li class="vertical-menu-item">
            <span>Главное</span>
            <ul class="vertical-submenu">
                <li><a href="{% url 'events:event_list' %}">События</a></li>

                <li><a href="{% url 'mail:subscriber_list' %}">Подписчики</a></li>

            </ul>
        </li>
        <li class="vertical-menu-item">
            {% if user.is_authenticated %}
                <span>Аккаунт: {{ user.get_username }}</span>
                <ul class="vertical-submenu">
                <li><a href="{% url 'accounts:profile' %}">Мой аккаунт</a></li>
                <li><a href="{% url 'accounts:password_change' %}">Изменить пароль</a></li>
                <li><a href="{% url 'accounts:password_reset' %}">Сбросить пароль</a></li>
                <li><a href="{% url 'accounts:logout' %}">Выйти</a></li>
            {% else %}
                <span>Аккаунт: - </span>
            {% endif %}

            </ul>
        </li>
    </ul>
</div>
<!-- menu for mobile -->
<div class="topbar-mobile">
    <div class="row align-items-center">
        <div class="col-md-12">
            <div class="mobile-logobar" style="max-width: 40px">
                <a href="#" class="mobile-logo">
                    <img src="{% static 'images/svg-icon/logo.svg' %}" class="img-fluid" alt="logo">
                </a>
            </div>
            <div class="mobile-togglebar">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <div class="menubar">
                            <a class="menu-hamburger" href="#" id="menu-hamburger">
                                <img src="{% static 'images/svg-icon/collapse.svg' %}"
                                     class="img-fluid menu-hamburger-collapse"
                                     alt="collapse">
                                <img src="{% static 'images/svg-icon/close.svg' %}"
                                     class="img-fluid menu-hamburger-close"
                                     alt="close">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="d-md-none" style="height: 90px"></div>
<!-- End LEFT_MENU -->


{# END HEADER#}