{% if messages %}
    <div class="container">
        <div class="row">
            <div class="col">
                <p> {{ DEFAULT_MESSAGE_LEVELS.ERRORS }}</p>
                {% for message in messages %}
                    <div class="alert
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        alert-danger
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                        alert-warning
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        alert-success
                    {% else %}
                        alert-primary
                    {% endif %}
                    alert-dismissible fade show" role="alert">
                        <p class="my-0 py-0">{{ message }}</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}