{#START WRAPPER#}
<!-- Start RIGHT_MENU -->

{% if not user.is_authenticated %}
    <!-- Start TOP_BAR -->
    <div class="container-fluid bg-white py-3">
        <div class="row align-items-center justify-content-between">
            <div class="col-auto text-center ms-4">
                <h4>Real World Django</h4>
            </div>
            <div class="col-auto text-center me-4">
                <a href="{% url 'accounts:sign_in' %}" class="btn btn-outline-primary">Войти</a>
                <a href="{% url 'accounts:sign_up' %}" class="btn btn-primary">Регистрация</a>
            </div>
        </div>
    </div>
    <!-- End TOP_BAR -->
{% else %}
    <!-- Start TOP_BAR -->
    <div class="container-fluid bg-white py-3">
        <div class="row align-items-center justify-content-between">
            <div class="col-auto text-center ms-4">
                {% if not title_profile %}
                    <h4>События</h4>
                {% else %}
                    <h4>Профайл</h4>
                {% endif %}
            </div>
            <div class="col-auto text-center me-4">
                <a href="{% url 'events:create_event' %}" class="btn btn-outline-primary">Добавить событие</a>
            </div>
        </div>
    </div>
{% endif %}
<!-- End TOP_BAR -->
<!-- End RIGHT_MENU -->

{#END WRAPPER#}