{% extends "__base.html" %}
{% block title %}Сброс пароля{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col">
            <h1>Сброс пароля</h1>
            <hr>
            <form action="." method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Отправить ссылку для сброса пароля</button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}