{% extends "__base.html" %}
{% block title %}Установка нового пароля{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Установка нового пароля</h1>
                <hr>
                {% if validlink %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">Установить пароль</button>
                    </form>
                {% else %}
                    <p>Ссылка для восстановления пароля не действительна или срок действия ссылки истек</p>
                    <p>Запросите сброс пароля повторно.</p>
                    <a href="{% url 'accounts:password_reset' %}" class="btn btn-primary">Сбросить пароль</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}