{% extends "__base.html" %}
{% block title %}Изменение пароля{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Изменение пароля</h1>
                <img src="{{ profile.avatar_url }}" alt="" class="img-fluid">
                <hr>
                {{ form.non_field_errors }}
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}