{% extends "__base.html" %}
{% block title %}Регистрация пользователя{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Создайте свою учетную запись</h1>
                <hr>
                {{ form.non_field_errors }}
                <form action="." method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3">
                            {{ field.label_tag }} {{ field }} <span>{{ field.help_text }}</span>
                        </div>
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}